@model IEnumerable<WebApplication1.Models.Animals>

@{
    ViewBag.Title = "Birds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Birds</h3>

<video controls="controls">
    <source src="~/videos/FunnyBirds.mp4" type="video/mp4" />
</video>

<p class="three-col">We are specializes in raising healthy, well adjusted, socialized hand-fed tame pet birds. 
    We also provide everything that you will need to keep them that way. We have a wide variety from finches up to macaws. All our birds are weaned and eating vegetables when they are ready to go home. If the bird is not weaned yet, we encourage you to visit your bird before taking it home. It makes that transition easier. If there is a certain bird that you are looking for let us know and we would gladly help you find it. Below are some of the birds that are ready to go to a new home.</p>
