@model IEnumerable<WebApplication1.Models.Animals>

@{
    ViewBag.Title = "Cats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Cats</h3>

<video controls="controls">
    <source src="~/videos/FunnyCats.mp4" type="video/mp4" />
</video>

<p class="three-col">
    We carry a complete line of food and supplies for your feline friend. From collars, flea products, dishes, cat boxes, cat litters, food and toys: anything kitty needs, you will find at Animal Lovers.
    Taking your furry friend on an airplane? We have airline-approved carriers in all sizes, including carry-ons. Be sure to check with your airline about regulations regarding animals on board.
    If your cat suffers with flea and skin problems, ask our staff about some of the great products available for flea control including shampoos, and sprays as well as Advantage.
    We carry a terrific selection of food for all your needs, including low fat, grain free, special needs, all natural, holistic and organic.
</p>