@model IEnumerable<WebApplication1.Models.Animals>

@{
    ViewBag.Title = "Dogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Dogs</h3>

<video controls="controls">
    <source src="~/videos/Dogs.mp4" type="video/mp4" />
</video>

<p class="three-col">
    Of course we carry a complete line of food and supplies for your best friend! From collars, flea products, and chew bones to dishes, food and toys: anything your dog needs, you will find at Animal Lovers.
    We also carry flea and skin products for flea control including shampoos, sprays, powders for your carpet, Advantage and Frontline.
    We carry a terrific selection of foods and treats for all needs including low fat, grain free, special needs, all natural, holistic and organic.
</p>