@model IEnumerable<WebApplication1.Models.Animals>

@{
    ViewBag.Title = "Fish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Fish</h3>
<video width="900" height="720" controls="controls">
    <source src="~/videos/FunnyCats.mp4" type="video/mp4" />
</video>
